<!doctype html>
{{- $p := .Page -}}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <link rel="canonical" href="{{ .Permalink }}">
  <title>
    {{- if and (eq .Page.Type "accounts") (.IsPage) }}Accounts for {{ end }}
    {{- .Title }}
    {{- if not .IsHome }} — {{.Site.Title }}{{ end -}}
  </title>
  {{- $options := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" false) -}}
  {{- $style := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "scss/main.scss" . | css.Sass
  $options | resources.Fingerprint "md5" -}}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" type="text/css" media="all">
  <meta property="og:title" content="{{ .Page.Title }}">
  <meta property="og:site_name" content="{{ .Site.Title }}">
  {{ with .Params.meta.description -}}
  <meta property="og:description" content="{{ . }}">
  <meta name="description" content="{{ . }}">
  {{- else -}}
  <meta property="og:description" content="{{ .Summary }}">
  <meta name="description" content="{{ .Summary }}">
  {{- end }}
  <meta property="og:type" content="{{ with .Params.meta.type }}.{{ else }}article{{ end }}">
  <meta property="og:updated_time" content="{{ .Page.Lastmod.Unix }}">
  <meta property="og:locale" content='{{ strings.Replace .Page.Language.LanguageCode "-" "_" }}'>
  {{ $og := false -}}
  {{- with .Params.meta.image }}{{ $og = resources.GetMatch . }}{{ end -}}
  {{- if $og }}
  <meta property="og:image" itemprop="image" content="{{ ($og.Fill " 1000x750 Smart" | resources.Fingerprint "md5"
    ).Permalink }}">{{- end }}
  {{ range .AlternativeOutputFormats }}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink }}" title="{{ $.Site.Title }}">{{ end }}
  {{ block "head_extra" . -}}
  {{- with .Params.head_extra }}.{{ end -}}
  {{- end }}
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="msapplication-TileColor" content="{{ .Site.Data.design.colors.primary }}">
  <meta name="theme-color" content="{{ .Site.Data.design.colors.primary }}">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="{{ .Site.Data.design.colors.primary }}">
  {{ range .Site.Menus.main }}
  {{- if ne .Weight 999 }}
  {{- with .URL }}
  {{- if strings.HasPrefix . "/" -}}
  <link rel="prefetch" href="{{ . }}" as="document">
  {{ end }}
  {{- end }}
  {{- end }}
  {{- end }}
</head>

<body class="{{ replace .Page.Type " -" " " }}">
  <div class="header-footer-wrapper">
    <header>
      <div class="site-title"><a href="{{ .Site.BaseURL }}">
          {{- range strings.Split .Site.Title " " -}}
          <div {{- if strings.HasSuffix . "," }} class="ends-comma" {{- end }}>{{- . -}}</div>
          {{- end -}}
        </a></div>
      <nav>
        <input type="checkbox" id="menu-hamburger-checkbox">
        <label for="menu-hamburger-checkbox"></label>
        <ul>
          {{ range .Site.Menus.main }}
          {{ if ne .Weight 999 }}
          <li{{ if or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) }} class="active" {{ end }}>
            {{ if .URL }}<a href="{{ .URL }}" title="{{ .Title }}">{{ else }}<span>{{ end -}}
                {{ .Name }}
                {{- if .URL }}</a>{{ else }}</span>{{ end }}
            </li>
            {{ end }}
            {{ end }}
            {{ if .Site.Data.menu.icons }}
            <li class="icons">
              {{ range .Site.Data.menu.icons }}
              <a href="{{ .link }}" {{- if or (strings.HasPrefix .link "http" ) (strings.HasSuffix .link ".pdf" ) }}
                target="_blank" {{- end }} title="{{ .alt }}">
                {{- strings.Chomp (safe.HTML (resources.Get (printf "/icons/%s.svg" .icon)).Content) -}}
              </a>
              {{ end }}
            </li>
            {{ end }}
        </ul>
      </nav>
    </header>
    <main>
      {{ block "main" . }}
      <h1>{{.Page.Title}}</h1>
      {{.Content}}
      {{ end }}
    </main>
  </div>
  <footer>
    <nav class="footer">
      {{ if .Site.Menus.footer }}
      <ul class="footer-menu">
        {{ range .Site.Menus.footer }}
        {{ if ne .Weight 999 }}
        <li{{ if or ($.IsMenuCurrent "footer" .) ($.HasMenuCurrent "footer" .) }} class="active" {{ end }}>
          {{ if .URL }}<a href="{{ .URL }}" title="{{ .Title }}">{{ else }}<span>{{ end -}}
              {{ .Name }}
              {{- if .URL }}</a>{{ else }}</span>{{ end }}
          </li>
          {{ end }}
          {{ end }}
      </ul>
      {{ end }}
      {{ if .Site.Data.menu.icons }}
      <ul class="icons">
        {{ range .Site.Data.menu.icons }}
        <li><a href="{{ .link }}" {{- if or (strings.HasPrefix .link "http" ) (strings.HasSuffix .link ".pdf" ) }}
            target="_blank" {{- end }} title="{{ .alt }}">
            {{- strings.Chomp (safe.HTML (resources.Get (printf "/icons/%s.svg" .icon)).Content) -}}
          </a></li>
        {{ end }}
      </ul>
      {{ end }}
      {{ if .Site.Data.menu.sites }}
      <ul class="sites">
        {{ range .Site.Data.menu.sites }}
        <li class="site-title"><a href="{{ .link }}" target="_blank">
            {{- range strings.Split .name " " -}}
            <div {{- if strings.HasSuffix . "," }} class="ends-comma" {{- end }}>{{- . -}}</div>
            {{- end -}}
          </a></li>
        {{ end }}
      </ul>
      {{ end }}
    </nav>
  </footer>
</body>

</html>
