{{- $src := strings.TrimPrefix site.BaseURL .Destination }}
{{- $media := "external-image" -}}
{{- $isSmall := false -}}
{{- if not (hasPrefix .Destination "http") -}}
  {{- $img := resources.GetMatch .Destination }}
  {{- $media = $img.MediaType.SubType -}}
  {{- if not (or (eq $media "webp") (eq $media "svg")) -}}
    {{- $img = $img.Fit "2000x2000 webp" -}}
  {{- end -}}
  {{- $src = ($img | resources.Fingerprint "md5").RelPermalink -}}
  {{- if not (eq $media "svg") -}}
    {{- if (le $img.Width 1000) -}}
      {{- $isSmall = true -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
<span class="md-image {{ $media }} {{- if ($isSmall) }} is-small {{- end }}"><img src="{{ $src }}" alt="{{ .Text }}" {{- with .Title}} title="{{ . }}" {{- end }}></span>
{{- print "" -}}
