{{- $src := strings.TrimPrefix site.BaseURL .Destination }}
{{- $media := "external-image" -}}
{{- if not (hasPrefix .Destination "http") -}}
  {{- $img := resources.GetMatch .Destination }}
  {{- $media = $img.MediaType.SubType -}}
    {{- if not (or (eq $media "webp") (eq $media "svg")) -}}
      {{- $img = $img.Fit "2000x2000 webp" -}}
    {{- end -}}
  {{- $src = ($img | resources.Fingerprint "md5").RelPermalink -}}
{{- end -}}
<span class="md-image {{ $media }}"><img src="{{ $src }}" alt="{{ .Text }}" {{- with .Title}} title="{{ . }}" {{- end }}></span>
{{- print "" -}}
