body {
  background-color: $backgroundColor;
  color: $bodyColor;
  @include body-text;
  font-size: $fontSize;
  @media #{$firstBreakpointStr} {
    font-size: $firstBreakpointFontSize;
  }
  @media #{$secondBreakpointStr} {
    font-size: $secondBreakpoint * ($firstBreakpointFontSize / 100vw);
  }
}

a {
  color: $accentColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading;
}

blockquote {
  margin: 0 auto 2em;
  background-color: rgba($bodyColor, 0.05);
  padding: 1em 2em;
  width: fit-content;
}

@mixin wrapper {
  max-width: $secondBreakpoint;
  margin: 0 auto;
  box-sizing: border-box;
}

header,
main {
  @include wrapper;
  padding: 1em;
}
