@media print {
  body {
    padding: 3em;
    font-size: 10pt;
  }

  header {
    float: left;
  }

  .site-title {
    font-size: 1em;
  }

  h1 {
    font-size: 1rem;
  }

  h1+* {
    clear: left;
  }

  aside.right+* {
    clear: left;
  }

  nav {
    display: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
  }

  table {
    page-break-inside: avoid;
  }

  footer {
    display: none;
  }

  #present,
  #members-of-the-public-present,
  #apologies-for-absence,
  #apologies {
    +ul {
      padding-left: 0;

      >li {
        display: inline;

        &:not(:last-child):after {
          content: '; ';
          display: inline;
        }
      }
    }
  }
}
